.wrapper {
  margin: auto;
  max-width: 960px;
}
nav {
  text-transform: uppercase;
  background-color: teal;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
nav li {
  padding: 1rem;
  list-style-type: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav a {
  padding: 1rem 2rem;
  text-decoration: none;
  color: aliceblue;
}
nav a:hover {
  color: blue;
  background-color: aqua;
}
body {
  background-color: darkseagreen;
  background-image: url(images/GrassBackground.png);
}
header {
  text-transform: uppercase;
  background-color: darkseagreen;
  color: aliceblue;
  padding: 1rem;
  text-align: center;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url(images/GrassBackground.png);
}
main {
  background-color: aliceblue;
  color: black;
  padding: 5px 10px 5px 10px;
  margin: 0 auto;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 5px solid aliceblue;
  max-width: 70rem;
  box-shadow: 2px 2px 20px black;
  font-size: large;
  line-height: 1.4;
}
footer {
  background-color: darkseagreen;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  clear: both;
  text-align: center;
}
footer a {
  font-size: large;
  color: aliceblue;
}
footer a:hover {
  color: blue;
}
img {
  max-width: 500px;
}
.mcimage {
  display: flex;
  justify-content: right;
}
.mcimage figcaption {
  font-size: smaller;
  color: teal;
  margin-left: 5px;
}
.grassimage {
  display: flex;
  justify-content: right;
}
.grassimage figcaption {
  font-size: smaller;
  color: teal;
  margin-left: 5px;
}
.wikiimage {
  display: flex;
  justify-content: right;
}
.wikiimage figcaption {
  font-size: smaller;
  color: teal;
  margin-left: 5px;
}
ul {
  padding: 20px;
  text-decoration: none;
  color: black;
}
ul a:hover {
  color: blue;
}
h1 {
  font-size: x-large;
  margin-bottom: 10px;
  color: teal;
}